.custom-img {
    background-image: url("https://miro.medium.com/v2/resize:fit:1100/1*5nV87028G6Z7RSVtOwlViQ.png");
}

.fullpage {
    display: flex;
    overflow: auto;
    flex: none;

    flex-flow: column nowrap;

    scroll-snap-type: y mandatory;
}

.fullpage>div {
    scroll-snap-align: center;
    flex: none;
}

.bg-welcome {
    background-color: #2e303d;
}

.caraosel {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    left: 0 !important;
    width: 100% !important;
}

.fade-in-section {
    opacity: 0;
    transform: translateX(-50px);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.move-down-section {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, visibility;
}

.move-down-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.caraosel::-webkit-scrollbar {
    height: 25px;
}

/* Track */
.caraosel::-webkit-scrollbar-track {
    --tw-bg-opacity: 0;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

/* Handle */
.caraosel::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    border-radius: 5px;
    background: linear-gradient(to right, #350053, #350053);
}

/* Handle on hover */
.caraosel::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background: linear-gradient(to right, #2e0048, #2e0048);
}
