.custom-img {
    background-image: url("https://miro.medium.com/v2/resize:fit:1100/1*5nV87028G6Z7RSVtOwlViQ.png");
}

.fullpage {
    display: flex;
    overflow: auto;
    flex: none;

    flex-flow: column nowrap;

    scroll-snap-type: y mandatory;
}

.fullpage>div {
    scroll-snap-align: center;
    flex: none;
}

.bg-welcome {
    background-color: #2e303d;
}

.caraosel {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    left: 0 !important;
    width: 100% !important;
}

.fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out !important;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.move-down-section {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, visibility;
}

.move-down-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}